.left-sidebar {
  margin-top: 100px;
  /* align-self: flex-end; */
  float: left;
}

.relheader {
  width: 85%;
  height: auto;
}
#single_all_post {
  justify-content: flex-start;
  margin-top: 130px;
}
.post {
  height: auto;
}
.trailer_post {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.trailer_post video {
  width: 70%;
  height: 240px;
  border-radius: 7px;
}
/* .trailer_post img {
    width: fit-content;
    position: absolute;
} */
.trailer_post button {
  width: 58px;
  height: 58px;
  border-radius: 100px;
  position: absolute;
  right: auto;
  margin-left: 180px;
  margin-top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.trailer_post button:focus {
  outline: none;
}
.play_trailer {
  object-fit: fill;
}
.border_bottom {
  width: 93%;
  margin: auto;
}
.details_description#single_description{
    justify-content: flex-start ;
}
/* download_box */
.download_box_all{
    min-height: 100px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.download_box_single {
    padding: 0.8rem 0;
    width: 93%;
    background: #cc0033;
    border-radius: 10px;
    text-align: right;
    cursor: pointer;
}
.download_box_single img{
    float: left;
    margin-left: 1rem;
}
.download_box_single span{
    width: 100%;
    height: 100%;
    margin-right: 25px;
    color: #fdfdfd;
}
.sidenav {
    height: 0;
    width: 100%;
    background-color:none;
    overflow-y: hidden;
    transition: 0.5s;
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidenav li{
    width: 93%;
    padding: 10px 0;
    border: 2px solid #cc0033;
    border-radius: 10px;
    margin-top: 12px;
    text-align: right;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    
}
.span_details {
    margin-right: 1.3rem;
    font-size: 14px;
}
.sidenav li .download{
    padding:  0.3rem 2rem;
    background: #cc0033;
    border-radius: 8px;
    margin-right: 11rem;
    color: #fdfdfd;
    display: flex;
    align-items: center;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-width: 450px) {
  .sidenav {
    padding-top: 0;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* single_relative */
.relative_post#single_relative_all{
    width: 534px !important;
    margin-top: 0;
}
.relative_pic#single_relative{
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

