/* font */

@font-face {
  font-family: IRSNSB;
  src: url("font/IRAN_Sans_Bold.ttf") format("woff");
}

@font-face {
  font-family: IRSNSR;
  src: url("font/IRAN_Sans_Regular.ttf") format("woff");
}

/* Default CSS */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #fdf;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  color: #444;
  background: #ecedee !important;
  font: 0.8rem "IRSNSR", tahoma;
  direction: rtl;
  overflow-x: hidden;
}

li {
  list-style: none;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

::selection {
  background: #222;
  color: #fdfdfd;
}

::-moz-selection {
  background: #222;
  color: #fdfdfd;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #2ecc71;
}

a:hover {
  color: #fdfdfd !important;
  text-decoration: none !important;
}

.clear {
  clear: both;
}

.p0 {
  padding: 0 !important;
}

.fr {
  float: right;
}

.fl {
  float: left;
}
 h1, h2, h3, h4, h5, h6 {
  margin: 0 ;
}

/*  */

/*  */

/* strat */

/*  */

/*  */

/* main */

/* bold font title */

.fo_big {
  font: 1.4rem "IRSNSB";
}

.fo_he {
  font: 1.2rem "IRSNSB";
}

.fo_he2_b {
  font: 1rem "IRSNSB";
}

/* Regular font */

.fo_he2 {
  font: 1rem "IRSNSR";
}

.fo_pa {
  font: 0.87rem "IRSNSR";
}

/* color */

.red_cr {
  color: #cc0033;
}

.gray_cr {
  color: #707070;
}
.gray_cr_n {
  color: #707070;
}

.white_red {
  color: #fdfdfd;
  background: #cc0033;
}

.white_cr {
  color: #fdfdfd;
}

/* background */

.white_bg {
  background: #fdfdfd;
}

/*  hover */

.gray_cr:hover {
  color: #cc0033 !important;
  transition: 0.6s;
}
/*  */
.white_red:hover {
  transition: 0.4s;
  background: #707070;
}

/* header */

.header_nav {
  display: flex;
  flex-wrap: wrap;
  background: #ecedee ;
}
.contain_nav{
  justify-content: center ;
  align-items: center;
}
.navbar_all{
  justify-content: center;
  align-items: center;
}

.header_nav ul li a {
  display: block;
  text-align: center;
}

.header_nav #logo {
  width: 100px;
  height: 80px;
}

.header_nav ul li a:hover {
  color: #cc0033 !important;
}

/* sign in & sin up*/

.header_nav .sign_in {
  width: 120px;
  height: 38px;
  margin: 0 20px;
}

.header_nav .sign_in a {
  width: 120px;
  height: 35px;
  float: left;
}

.header_nav .sign_in h3 {
  border-radius: 5px;
  padding: 3px 10px;
  text-align: center;
}

.header_nav .sign_in a:hover {
  transition: 0.6s;
}

/* search & DayAndNight*/
.logo,
.menu_top,
.search_DayAndNight {
  height: 100px;
  float: left;
}
.search_DayAndNight .center {
  float: left;
  margin-top: 25px;
}
.header_nav .search {
  width: 260px;
  float: right;
  margin-top: 30px;
}

.header_nav .search img {
  float: left;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header_nav .search form {
  width: 260px;
  height: 32px;
  float: left;
  border-radius: 8px;
  padding-right: 15px;
  background: #707070;
  border: 5px solid #222;
}

.header_nav .search input {
  width: 80%;
  height: 100%;
  float: right;
  direction: rtl;
  text-align: right;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

::placeholder {
  color: #fdfdfd;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fdfdfd;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fdfdfd;
}

/* slider */

.swiper-container {
  width: 100%;
  height: 700px;
  float: left;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide a {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

/* relative */

#container_main {
  width: 79%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto !important;
}

.relative {
  width: 100%;
  margin-top: 20px;
}

.relheader {
  width: 80%;
  position: absolute;
  margin: 0 auto;
}

.relheader .types {
  width: 12%;
  height: 30px;
  cursor: pointer;
  margin: 10px 38px 0 0;
  border-radius: 5px;
  float: right;
  border: 0.5px solid #fdfdfd;
  border-radius: 6px;
}

.relheader .types:hover {
  transition: 0.4s;
}

.relheader .types h3 {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

.relheader .types img {
  width: 25px;
  height: 80%;
  float: left;
  margin: 3px;
}

.relheader .filter {
  width: 12%;
  height: 40px;
  float: right;
  cursor: pointer;
  border-radius: 3px;
  margin: 10px 50px 0 0;
  background: #7a0120;
  border-radius: 8px;
}

.relheader .filter button {
  width: 100%;
  height: 100%;
  float: right;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  color: #fdfdfd;
}

.relheader .filter:hover {
  transition: 0.4s;
}

/* .Drawing_types */

.Drawing_types {
  width: 99%;
  border: 1px solid #530808;
  background: #cc0033;
  float: right;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: none;
  margin-top: 6px;
}

.Drawing_types li {
  width: 100%;
  float: right;
  clear: both;
  text-align: center;
  margin-top: 5px;
  border: none;
}

.Drawing_types li a {
  width: 100%;
  border: none;
}

.Drawing_types li a:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

/* relative_post */

.relative_post {
  width: 100%;
  height: 350px;
  margin-top: 100px;
  border-radius: 8px;
}

.relative_post h2 {
  float: right;
  margin: 25px 35px 0 0;
  border-bottom: 1px solid #333;
  padding: 0 20px;
}

.relative_post .relative_pic {
  width: 77%;
  position: absolute;
  margin-top: 90px;
  display: flex;
  /* flex-wrap: wrap; */
}

.relative_pic li {
  width: 140px;
  height: 210px;
  float: right;
  margin: 21px;
}

.relative_pic li a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.relative_pic li a .details_relative {
  width: 140px;
  height: 70px;
  float: right;
  position: absolute;
  top: 150px;
  display: none;
}

.relative_pic li a .details_relative span {
  float: right;
  margin-right: 5px;
  text-align: right;
}

.relative_pic li a .details_relative .details_note2 {
  float: right;
  margin-right: 18px;
  text-align: right;
}

.relative_pic li a .details_relative .details_note3 {
  width: 60%;
  float: left;
  border-radius: 7px;
  text-align: center;
  margin-top: 5px;
}

.relative_pic li:hover img {
  transition: 1s;
  transform: scale(1.1);
}

.relative_pic li:hover .details_relative {
  display: block;
}
.posts_leftsidebar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start ;
}
/* all_posts */

.all_posts {
  width: 62%; 
  height: 2310px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* post*/

.post {
  height: 422px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  align-items: center;
}
.post header a {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  
}
.post header a h2{
  margin: 0;

}
.post header img {
  width: 25px;
  height: 25px;
  margin: 0 0.5rem;
}

.post header .star_imdb {
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.imdb_point {
  display: flex;
  align-items: center;
}

.post header .star_imdb h3 {
  margin: 5px 0 0 0 ;
}
.post header .star_imdb h3 a{
  width: 80px;
  margin: 0;
  direction: ltr;
}

/* details_movie*/

.post .details_movie {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-self: stretch;

}

.post .details_movie .pictue_movie {
  width: 200px;
  height: 208px;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.post .details_movie a img {
  width: 120px;
  height: 180px;
  border-radius: 8px;
}

.post .details_movie .right_details {
  display: flex;
  height: 208px;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: flex-start;
  margin-right: 1.5rem;
}


/* footer_details */

.post .details_description {
  width: 100%;
  height: 100px;
  text-align: justify;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-self: center;
}

.details_description .description {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 1.1rem;
}

.details_description .download {
  margin:1.2rem 0 0 1.2rem;
}

.details_description .download a {
  height: 30px;
  border-radius: 6px;
  margin: 0;
  text-align: center;
  padding: 2px 10px 9px 10px;
}

.details_description .download a:hover {
  transition: 0.4s;
}

/* wp-pagenavi */

.wp-pagenavi {
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
}

.wp-pagenavi a,
.wp-pagenavi span {
  background: #707070;
  padding: 5px 15px;
  border-radius: 8px;
}
.pages_navi {
  cursor: default;
}
.wp-pagenavi a#nexti,
.wp-pagenavi a#previ {
  padding: 7px 30px;
}

.wp-pagenavi span.current {
  background: #cc0033;
}

/* left-sidebar */

.left-sidebar {
  width: 34%;
  height: 2310px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

/* sidebox */

.left-sidebar .sidebox#genre {
  margin-top: 462px;
}
.left-sidebar .sidebox {
  border-radius: 8px;
  /* margin-bottom: 42px; */
  display: flex;
  flex-direction: column;
}

.left-sidebar .sidebox header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  border-bottom: 1px solid #333;
}
.right_header_side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left_header_side {
  width: 180px;
  display: flex;
  justify-content: space-evenly  ;
  align-items: center;
}
.left-sidebar .sidebox header img {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

.left-sidebar .sidebox header h2 {
  margin-right: 0.5rem;
  display: flex;
}

.left-sidebar .sidebox header h4 {
  border-radius: 20px;
  padding: 5px 20px;
  border: 1px solid #fdfdfd;
  cursor: pointer;
  justify-self: flex-end;
}

.left-sidebar .sidebox header h4:hover {
  transition: 0.4s;
}

.left-sidebar .sidebox header h3:hover {
  border: 1px solid #cc0033;
  transition: 0.4s;
}

/* sidebox ul */

.left-sidebar .sidebox .sidbox_genre {
  width: 100%;
  height: 332px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 0.5rem;
}

.left-sidebar .sidebox .sidbox_genre li {
  width: 50%;
  height: 35px;
}
.left-sidebar .sidebox .sidbox_genre li a {
  width: 100%;
  height: 100%;
  float: right;
  background: url("icon/circle.svg") right no-repeat;
  background-size: 14px 14px;
}

.left-sidebar .sidebox .sidbox_genre li span {
  float: right;
  margin-right: 22px;
  margin-top: 3px;
}

.left-sidebar .sidebox .sidbox_genre li a:hover {
  background: url("icon/circle2.svg") right no-repeat;
  background-size: 14px 14px;
}

.left-sidebar .sidebox .sidbox_genre li h6 {
  width: 80%;
  float: right;
  margin-right: 12px;
}

/* trailer */


.sidebox_random_movie header {
  display: flex;
  border-bottom: 1px solid #333;
}
.sidebox_random_movie header h2{
  margin-top: 0.5rem;
}

.sidebox_random_movie header img {
  width: 25px;
  height: 25px;
}


.sidebox_random_movie .rand {
  width: 95%;
  border-radius: 2px;
  height: 50px;
  background: #ecedee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:0.6rem;
}

.rand a {
  width: 32%;
  height: 50px;
  border-radius: 18px !important;
}

.rand a h2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.rand a:hover {
  transition: 0.6s;
}

.left-sidebar .sidebox_random_movie .tab-pane {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.sidebox_random_movie .rand_pic {
  width: 100%;
}

.sidebox_random_movie .rand_pic .tab-pane {
  width: 28%;
  height: 135px;
  float: right;
  margin: 5px 9px;
  display: block !important;
}

.sidebox_random_movie .rand_pic .tab-pane a img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: fill;
}

.rand_pic .tab-pane a img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.rand .active {
  background: #cc0033;
  color: #fdfdfd;
}


/*  dubbed_pic*/

.left-sidebar .sidebox .dubbed_pic {
  width: 90%;
  height: 50px;
  border-radius: 8px;
  margin: 10px auto;
}

.left-sidebar .sidebox .dubbed_pic {
  width: 90%;
  height: auto;
  margin: 35px auto;
}

.sidebox .dubbed_pic li {
  width: 30%;
  height: 130px;
  float: right;
  margin: 5px;
}

.sidebox .dubbed_pic li a img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.dubbed_pic li a img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* sidebox_news */

.left-sidebar .sidebox_news {
  width: 26.3%;
  border-radius: 8px;
  position: absolute;
}

.sidebox_news header {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #333;
}

.sidebox_news header img {
  width: 40px !important;
  height: 40px !important;
}

.sidebox_news header h2 {
  margin-bottom: 3px !important;
  text-align: right;
}

.sidebox_news .sidbox_news_ul {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.sidebox_news .sidbox_news_ul li {
  height: 66px;
  margin-top: 3px;
}

.sidebox_news .sidbox_news_ul li img {
  width: 100%;
  height: 66px;
  border-radius: 8px 0 8px 8px;
  z-index: 0;
  position: absolute;
  right: 0;
}
.sidebox_news .sidbox_news_ul li:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.7s;
}
.sidebox_news .sidbox_news_ul li .title_newsmovie {
  width: 240px;
  height: 55px;
  right: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    #1b1b1a9d 50%,
    #1b1b1a9d 100%
  );
  margin-top: 8px;
}

.sidebox_news .sidbox_news_ul li a h3 {
  position: absolute;
  margin-top: 11px;
  z-index: 2;
  right: 5px;
  float: right;
}

.sidebox_news .sidbox_news_ul li a h4 {
  position: absolute;
  right: 5px;
  float: right;
  margin-top: 33px;
}

/* sidebox_newss */

.sidebox#sidebox_newss li {
  width: 95%;
  height: 65px;
  float: right;
}
.sidebox#sidebox_newss li a {
  width: 100%;
  height: 90%;
  float: right;
  background-image: none;
  border-radius: 8px;
  background: #707070;
}
.sidebox#sidebox_newss li a:hover h3 {
  color: #0f0d0e;
  transition: 0.4s;
}
.sidebox#sidebox_newss li a img {
  width: 50px;
  height: 40px;
  float: right;
  margin: 8px;
  border-radius: 10px;
}

.left-sidebar #sidebox_newss li h3 {
  text-align: right;
  margin-bottom: 0;
  margin-top: 8px; 
}

.left-sidebar .sidebox#sidebox_newss li span {
  float: right;
  margin-right: 20px;
  margin-top: 0;
}

.left-sidebar .sidebox#sidebox_newss li span.newss_time {
  float: left;
  margin-left: 35px;
}

/* footer-nav */

.footer-nav {
  width: 100%;
  margin: 40px 0;
}

.main-footer {
  border-radius: 8px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.footer-nav .about {
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-nav .about p {
  text-align: justify;
}

.footer-nav .about a:hover h3 {
  transition: 0.4s;
}

.support {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.support img {
  width: 120px;
  height: 60px;
  cursor: pointer;
}

.social  {
  align-self: flex-end;
  margin-bottom: 1rem;
}
.social ul {
  display: flex;
  align-items: center;
  
} 
.social img {
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
}

.footer-bot {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  float: right;
}

/* 
 */

input[type="checkbox"] {
  margin: 10px;
  position: relative;
  width: 60px;
  height: 25px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1);
}

input:checked[type="checkbox"]:nth-of-type(1) {
  background: linear-gradient(0deg, #e67e22, #f39c12);
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1);
}

input:checked[type="checkbox"]:nth-of-type(2) {
  background: linear-gradient(0deg, #70a1ff, #1e90ff);
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1);
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 25px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* SEELECTRIC */

.examples .item {
  max-width: 300px;
  height: 70px;
}

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.selectric {
  background: #cc0033;
  position: relative;
  border-radius: 8px;
}
.item:hover .selectric {
  background: #707070;
  transition: 0.4s;
}
.item:hover .button {
  background: #595b5e;
  transition: 0.4s;
}
.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 10px;
  font-size: 12px;
  line-height: 38px;
  color: #fdfdfd;
  height: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  color: #fdfdfd;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
  background: #a7012a;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #bbb;
  border-bottom: none;
}

.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #cc0033;
  border: 1px solid #c4c4c4;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

/*------------ media_screen ---------------*/

@media only screen and (max-width: 250px) {
}

@media only screen and (max-width: 300px) and (min-width: 250px) {
}

@media only screen and (max-width: 350px) and (min-width: 300px) {
}

@media only screen and (max-width: 400px) and (min-width: 350px) {
}

@media only screen and (max-width: 450px) and (min-width: 400px) {
}

@media only screen and (max-width: 500px) and (min-width: 450px) {
}

@media only screen and (max-width: 550px) and (min-width: 500px) {
}

@media only screen and (max-width: 600px) and (min-width: 550px) {
}

@media only screen and (max-width: 650px) and (min-width: 600px) {
}

/* Extra small devices (phones, 600px and down) */

@media (min-width: 600px) {
}

@media (max-width: 535px) {
}

@media (max-width: 600px) {
}

/* sm */

@media (min-width: 768px) {
}

@media (max-width: 765px) {
}

/* md */

@media (min-width: 992px) {
}

@media (max-width: 992px) {
}

/* lg */

@media (max-width: 1200px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1320px) {
}

@media (min-width: 320px) and (max-width: 350px) {
}

@media (min-width: 350px) and (max-width: 375px) {
}

@media (min-width: 375px) and (max-width: 400px) {
}

@media (min-width: 400px) and (max-width: 536px) {
}
/*  */
.fa-1x {
  font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
  cursor: pointer;
  }
  .dark-blue-text {
  color: #0A38F5;
  }
  .dark-pink-text {
  color: #AC003A;
  }
  .dark-amber-text {
  color: #ff6f00;
  }
  .dark-teal-text {
  color: #004d40;
  }