/* font */

@font-face {
  font-family: "poori";
  src: url("font/BYekan.woff") format("woff");
}

@font-face {
  font-family: "sam";
  src: url("font/YekanWeb-Regular.woff") format("woff");
}

/* Default CSS */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #fdf;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  color: #444;
  background: #ecedee;
  font: 0.8rem Tahoma, "sam";
  direction: rtl;
  /* overflow-x: hidden; */
  margin: 0 auto;
}

li {
  list-style: none;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

::selection {
  background: #222;
  color: #fdfdfd;
}

::-moz-selection {
  background: #222;
  color: #fdfdfd;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #2ecc71;
}

.clear {
  clear: both;
}

.p0 {
  padding: 0 !important;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

/*  */

/*  */

/* strat */

/*  */

/*  */

/* main */

/* font */

.fo_big {
  font: 1.4rem "poori", "sam", tahoma;
}

.fo_he {
  font: 1rem "poori", "sam", tahoma;
}

.fo_he2 {
  font: 0.9rem "poori", "sam", tahoma;
}

.fo_pa {
  font: 0.82rem "poori", "sam", tahoma;
}

/* color */

.red_cr {
  color: #cc0033;
}

.red2_cr {
  color: #cc0033;
}

.gray_cr {
  color: #707070;
}

.white_cr {
  color: #fdfdfd;
}

/* hover color */

.hvr_red_cr:hover {
  color: #cc0033;
}

.hvr_gray_cr:hover {
  color: #707070;
}

.hvr_white_cr:hover {
  color: #fdfdfd;
}

/* background */

.red_bg {
  background: #cc0033;
}

.gray_bg {
  background: #707070;
}

.white_bg {
  background: #fdfdfd;
}

/* background hover */

.hvr_red_bg:hover {
  background: #cc0033;
}

.hvr_gray_bg:hover {
  background: #707070;
}

.hvr_white_bg:hover {
  background: #fdfdfd;
}

/* */

.container {
  width: 100%;
  margin: 0 auto;
}

/* header */

.header_nav {
  height: 100px;
}

.header_nav ul {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav ul li {
  padding: 0.25rem 1rem;
}

.header_nav ul li a {
  display: block;
  text-align: center;
}

.header_nav #logo {
  width: 100px;
  height: 80px;
  margin: 10px 70px;
  float: right;
}

/* sign in & sin up*/

.header_nav .sign_in {
  width: 120px;
  height: 38px;
  margin: 0 20px;
}

.header_nav .sign_in a {
  width: 120px;
  height: 35px;
  float: left;
  border-radius: 5px;
  border: 1px solid #cc0033;
}

.header_nav .sign_in h3 {
  text-align: center;
  margin-top: 5px;
}

.header_nav .sign_in a:hover {
  background: #fdfdfd;
  transition: 0.6s;
}

/* search */

.header_nav .search {
  width: 300px;
  height: 32px;
  float: left;
  margin: 15px 10px 10px 70px;
}

.header_nav .search img {
  float: left;
  width: 25px;
  height: 25px;
  margin: 26px 0 0 5px;
  cursor: pointer;
}

.header_nav .search form {
  width: 240px;
  height: 32px;
  float: left;
  margin: 18px auto;
  border-radius: 18px;
  padding-right: 15px;
  background: #707070;
  border: 5px solid #222;
}

.header_nav .search input {
  width: 90%;
  height: 100%;
  float: right;
  direction: rtl;
  text-align: right;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

::placeholder {
  color: #fdfdfd;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fdfdfd;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fdfdfd;
}

/* slider */

.swiper-container {
  width: 100%;
  height: 700px;
  float: left;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide a {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

/* relative */

.container#container_main {
  width: 79%;
  margin: 0 auto;
}

.relative {
  width: 100%;
  height: 500px;
  margin: 20px auto;
}

.relheader {
  width: 80%;
  position: absolute;
  margin: 0 auto;
}

.relheader .types {
  width: 11%;
  height: 30px;
  cursor: pointer;
  margin: 10px 50px 0 0;
  border-radius: 5px;
  float: right;
  border: 0.5px solid #fdfdfd;
  border-radius: 6px;
}

.relheader .types h3 {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

.relheader .types img {
  width: 25px;
  height: 80%;
  float: left;
  margin: 3px;
}

.relheader .filter {
  width: 11%;
  height: 30px;
  float: right;
  cursor: pointer;
  border-radius: 3px;
  border: 0.5px solid #fdfdfd;
  margin: 10px 50px 0 0;
}

.relheader .filter h5 {
  width: 100%;
  height: 100%;
  float: right;
  /* margin: 5px 16px 0 0; */
  text-align: center;
  cursor: pointer;
  margin-top: 4px;
}

.relheader .filter:hover {
  transition: 0.4s;
}

/* .Drawing_types */

.Drawing_types {
  width: 99%;
  border: 1px solid #530808;
  background: #cc0033;
  float: right;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: none;
  margin-top: 6px;
}

.Drawing_types li {
  width: 100%;
  float: right;
  clear: both;
  text-align: center;
  margin-top: 5px;
  border: none;
}

.Drawing_types li a {
  width: 100%;
  border: none;
}

.Drawing_types li a:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

/* relative_post */

.relative_post {
  width: 100%;
  height: 350px;
  float: right;
  margin-top: 100px;
  border-radius: 8px;
}

.relative_post h1 {
  float: right;
  margin: 25px 35px 0 0;
  border-bottom: 1px solid #333;
  padding: 0 20px;
}

.relative_post .relative_pic {
  width: 1124px;
  height: 270px;
  position: absolute;
  margin-top: 80px;
}

.relative_pic li {
  width: 140px;
  height: 210px;
  float: right;
  margin: 23px;
}

.relative_pic li a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.relative_pic li a .details_relative {
  width: 140px;
  height: 70px;
  float: right;
  position: absolute;
  top: 140px;
  display: none;
}

.relative_pic li a .details_relative h3 {
  width: 100%;
  margin-right: 5px;
  float: right;
}

.relative_pic li a .details_relative h4 {
  width: 100%;
  float: right;
  margin-right: 18px;
}

.relative_pic li a .details_relative h5 {
  width: 60%;
  float: left;
  border-radius: 7px;
  text-align: center;
  margin-top: 10px;
}

.relative_pic li:hover img {
  transition: 1s;
  transform: scale(1.1);
}

.relative_pic li:hover .details_relative {
  display: block;
}

/* all_posts */

.all_posts {
  width: 60%;
  height: auto;
}

/* post*/

.post {
  width: 100%;
  height: 424px;
  float: left;
  border-radius: 8px;
  margin-bottom: 39px;
}

.post header {
  width: 100%;
  height: 55px;
  float: right;
  border-bottom: 1px solid #333;
  margin-top: 8px;
}

.post header img {
  width: 25px;
  height: 25px;
  float: right;
  margin: 10px;
}

.post header h1 {
  float: right;
  margin: 10px 0;
}

.post header h2 {
  float: right;
  margin: 12px 10px;
}

.post header .star_imdb {
  float: left;
}

.post header h3 {
  float: left;
  margin-top: 10px;
}

/* details_movie*/

.post .details_movie {
  width: 100%;
  height: auto;
  float: right;
}

.post .details_movie a {
  width: 120px;
  height: 180px;
  float: left;
  margin: 30px 25px;
}

.post .details_movie a img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.post .details_movie ul {
  width: 70%;
  float: right;
  margin: 10px 7px;
}

.post .details_movie ul li {
  float: right;
  clear: both;
  margin-top: 4px;
}

.post .details_movie ul li h3 {
  float: right;
}

/* footer_details */

.post .details_movie .details_description {
  width: 100%;
  height: auto;
  float: right;
  text-align: justify;
}

.details_description .description {
  width: 75%;
  height: auto;
  float: right;
  margin-right: 7px;
}

.details_description .description h3 {
  float: right;
}

.details_description .description p {
  float: right;
  line-height: 1.5;
}

.details_description .download {
  float: left;
  margin: 30px 0 30px 25px;
}

.details_description .download a {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #707070;
  margin: 0;
  padding: 0 8px;
}

.details_description .download a:hover {
  border: 1px solid #707070;
  transition: 0.4s;
}

/* wp-pagenavi */

.wp-pagenavi {
  width: 100%;
  height: 70px;
  float: right;
  border-radius: 8px;
}

.wp-pagenavi a,
.wp-pagenavi span {
  background: #707070;
  float: right;
  margin-right: 24px;
  margin-top: 20px;
  padding: 5px 15px;
  border-radius: 8px;
}

.wp-pagenavi a#nexti,
.wp-pagenavi a#previ {
  padding: 7px 30px;
}

.wp-pagenavi span.current {
  background: #cc0033;
}

.wp-pagenavi a:hover {
  transition: 0.4s;
  background: #cc0033;
}

.wp-pagenavi span:hover {
  transition: 0.4s;
  background: #cc0033;
}

/* left-sidebar */

.left-sidebar {
  width: 36%;
  height: auto;
  float: left;
}

/* sidebox */

.left-sidebar .sidebox {
  width: 100%;
  height: 422px;
  border-radius: 8px;
  margin-bottom: 42px;
}

.left-sidebar .sidebox header {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #333;
}

.left-sidebar .sidebox header img {
  width: 25px;
  height: 25px;
  float: right;
  margin: 19px 10px;
}

.left-sidebar .sidebox header h1 {
  float: right;
  margin-top: 14px;
}

.left-sidebar .sidebox header h3 {
  float: left;
  margin: 15px 10px;
  border-radius: 20px;
  padding: 5px 20px;
  border: 1px solid #fdfdfd;
  cursor: pointer;
}

.left-sidebar .sidebox header h3:hover {
  border: 1px solid #cc0033;
  transition: 0.4s;
}

/* sidebox ul */

.left-sidebar .sidebox .sidbox_genre {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
}

.left-sidebar .sidebox .sidbox_genre li {
  width: 50%;
  float: right;
  margin-top: 7px;
}

.left-sidebar .sidebox .sidbox_genre li h2 {
  float: right;
  margin-right: 12px;
}

.left-sidebar .sidebox .sidbox_genre li h6 {
  width: 80%;
  float: right;
  margin-right: 12px;
}

.left-sidebar .sidebox .sidbox_genre li div {
  float: right;
  margin-right: 32px;
  padding: 3px 10px;
  border-radius: 8px;
}

.left-sidebar .sidebox .sidbox_genre li div h4 {
  float: right;
  margin-right: 3px;
}

.left-sidebar .sidebox .sidbox_genre li div h5 {
  float: right;
  margin-right: 3px;
}

.left-sidebar .sidebox .sidbox_genre span {
  float: left;
  margin-left: 40px;
}

.left-sidebar .sidebox .sidbox_genre li h3 {
  float: right;
}

.left-sidebar .sidebox .sidbox_genre li img {
  width: 14px;
  height: 14px;
  float: right;
  margin-top: 8px;
}

.left-sidebar .sidebox .sidbox_genre li img#newsss {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

/* trailer */

.sidebox_random_movie {
  width: 100%;
  height: 422px;
  border-radius: 8px;
  margin-bottom: 41px;
}

.sidebox_random_movie header {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #333;
}

.sidebox_random_movie header img {
  width: 25px;
  height: 25px;
  float: right;
  margin: 17px 10px;
}

.sidebox_random_movie header h1 {
  float: right;
  margin-top: 15px;
}

.sidebox_random_movie .rand {
  width: 90%;
  height: 50px;
  border-radius: 8px;
  margin: 10px auto;
  background: #ecedee;
}

.rand a {
  width: 32%;
  height: 50px;
  margin-right: 2px;
  float: right;
  border-radius: 20px;
}

.rand a h2 {
  width: 100%;
  height: 100%;
  float: right;
  text-align: center;
  margin-top: 14px;
}

.rand a:hover {
  transition: 0.6s;
}

.left-sidebar .sidebox_random_movie .tab-pane {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.sidebox_random_movie .rand_pic .tab-pane {
  width: 28%;
  height: 135px;
  float: right;
  margin: 5px 9px;
}

.sidebox_random_movie .rand_pic .tab-pane a img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: fill;
}

.rand_pic .tab-pane a img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.rand .active {
  background: #cc0033;
}

.rand .active h2 {
  color: #fdfdfd;
}

/*  dubbed_pic*/

.left-sidebar .sidebox .dubbed_pic {
  width: 90%;
  height: 50px;
  border-radius: 8px;
  margin: 10px auto;
}

.left-sidebar .sidebox .dubbed_pic {
  width: 90%;
  height: auto;
  margin: 35px auto;
}

.sidebox .dubbed_pic li {
  width: 30%;
  height: 130px;
  float: right;
  margin: 5px;
}

.sidebox .dubbed_pic li a img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.dubbed_pic li a img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* sidebox_news */

.left-sidebar .sidebox_news {
  width: 404px;
  height: 422px;
  border-radius: 8px;
  margin-bottom: 41px;
  position: absolute;
}

.sidebox_news header {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #333;
}

.sidebox_news header img {
  width: 40px;
  height: 40px;
  float: right;
  margin: 15px 10px;
}

.sidebox_news header h1 {
  float: right;
  margin-top: 13px;
}

.sidebox_news .sidbox_news_ul {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.sidebox_news .sidbox_news_ul li {
  width: 100%;
  height: 67px;
  margin-top: 3px;
  float: right;
}

.sidebox_news .sidbox_news_ul li img {
  width: 100%;
  height: 66px;
  border-radius: 8px 0 8px 8px;
  z-index: 0;
  position: absolute;
}

.sidebox_news .sidbox_news_ul li a {
  width: 240px;
  height: 55px;
  float: right;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    #1b1b1a9d 50%,
    #1b1b1a9d 100%
  );
  margin-top: 8px;
}

.sidebox_news .sidbox_news_ul li a h3 {
  margin-top: 15px;
  margin-right: 5px;
  z-index: 2;
}

.sidebox_news .sidbox_news_ul li a h4 {
  position: absolute;
  margin-right: 5px;
  float: right;
  margin-top: 3px;
}

/* sidebox_newss */

.left-sidebar .sidebox#sidebox_newss {
  margin-top: 503px;
}

.sidebox#sidebox_newss li {
  width: 100%;
  margin-top: 7px;
}

/* footer-nav */

.footer-nav {
  width: 100%;
  margin: 40px 0;
  float: right;
}

.main-footer {
  float: right;
  border-radius: 8px;
  padding: 40px 0;
}

.footer-nav .about {
  width: 20%;
  height: 100%;
  float: right;
  margin-right: 75px;
}

.footer-nav .about h5 {
  float: right;
  margin-bottom: 25px;
}

.footer-nav .about p {
  float: right;
}

.footer-nav .about a {
  float: right;
  margin-top: 3px;
}

.support {
  float: right;
  margin-top: 100px;
}

.support img {
  width: 120px;
  height: 60px;
  cursor: pointer;
}

.social {
  width: 20%;
  height: 100%;
  float: left;
  margin-top: 165px;
  margin-left: 30px;
}

.social img {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 5px;
}

.footer-bot {
  width: 100%;
  float: right;
  margin-top: 10px;
  margin-right: 280px;
}

.footer-bot .copyright {
  float: right;
}

/* 
 */

/*------------ media_screen ---------------*/

@media only screen and (max-width: 250px) {
}

@media only screen and (max-width: 300px) and (min-width: 250px) {
}

@media only screen and (max-width: 350px) and (min-width: 300px) {
}

@media only screen and (max-width: 400px) and (min-width: 350px) {
}

@media only screen and (max-width: 450px) and (min-width: 400px) {
}

@media only screen and (max-width: 500px) and (min-width: 450px) {
}

@media only screen and (max-width: 550px) and (min-width: 500px) {
}

@media only screen and (max-width: 600px) and (min-width: 550px) {
}

@media only screen and (max-width: 650px) and (min-width: 600px) {
}

/* Extra small devices (phones, 600px and down) */

@media (min-width: 600px) {
}

@media (max-width: 535px) {
}

@media (max-width: 600px) {
}

/* sm */

@media (min-width: 768px) {
}

@media (max-width: 765px) {
}

/* md */

@media (min-width: 992px) {
}

@media (max-width: 992px) {
}

/* lg */

@media (max-width: 1200px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1320px) {
}

@media (min-width: 320px) and (max-width: 350px) {
}

@media (min-width: 350px) and (max-width: 375px) {
}

@media (min-width: 375px) and (max-width: 400px) {
}

@media (min-width: 400px) and (max-width: 536px) {
}
